@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Trirong:100,200,300,400,500,600,700,800,900");
body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", Arial, sans-serif; }
  body.toggle {
    position: fixed; }

a {
  text-decoration: none; }

.hide {
  display: none; }

.grid [class*="col-"] {
  float: left;
  padding: 15px;
  border: 1px solid pink;
  box-sizing: border-box;
  margin: 15px auto; }

.grid .row {
  content: "";
  clear: both;
  display: block; }
  .grid .row .col-1 {
    width: 8.33%; }
  .grid .row .col-2 {
    width: 16.66%; }
  .grid .row .col-3 {
    width: 25%; }
  .grid .row .col-4 {
    width: 33.33%; }
  .grid .row .col-5 {
    width: 41.66%; }
  .grid .row .col-6 {
    width: 50%; }
  .grid .row .col-7 {
    width: 58.33%; }
  .grid .row .col-8 {
    width: 66.66%; }
  .grid .row .col-9 {
    width: 75%; }
  .grid .row .col-10 {
    width: 83.33%; }
  .grid .row .col-11 {
    width: 91.66%; }
  .grid .row .col-12 {
    width: 100%; }

.break {
  -webkit-column-break-before: column;
     page-break-before: column;
          break-before: column;
  min-width: 20em;
  margin: auto;
  display: block; }

.hero-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 640px;
  background-image: url("../images/m1.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }
  .hero-wrapper .hero-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background: #5A29DE;
    opacity: .2; }
  .hero-wrapper h1 {
    position: relative;
    z-index: 5;
    margin: 0;
    color: #FFFFFF;
    font-family: Trirong;
    font-weight: 700;
    font-size: 3.75em;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-top: 60px; }
  .hero-wrapper .button-wrapper {
    position: relative;
    z-index: 5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 40px; }
    .hero-wrapper .button-wrapper a.cta-button {
      color: white;
      font-size: 1em;
      letter-spacing: 1px;
      text-align: center;
      margin: 0 10px;
      width: 145px;
      padding: 12.5px 0;
      border-radius: 3px; }
    .hero-wrapper .button-wrapper .cta-shop {
      background: #42DDA1;
      border: 1px solid #42DDA1; }
    .hero-wrapper .button-wrapper .cta-newsletter {
      background: none;
      border: 1px solid #42DDA1; }
