@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Trirong:100,200,300,400,500,600,700,800,900");
* {
  box-sizing: border-box; }

body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 100%; }
  body.toggle {
    position: fixed; }

a {
  text-decoration: none; }

.hide {
  display: none; }

.grid [class*="col-"] {
  float: left;
  padding: 15px;
  border: 1px solid pink;
  box-sizing: border-box;
  margin: 15px auto; }

.grid .row {
  content: "";
  clear: both;
  display: block; }
  .grid .row .col-1 {
    width: 8.33%; }
  .grid .row .col-2 {
    width: 16.66%; }
  .grid .row .col-3 {
    width: 25%; }
  .grid .row .col-4 {
    width: 33.33%; }
  .grid .row .col-5 {
    width: 41.66%; }
  .grid .row .col-6 {
    width: 50%; }
  .grid .row .col-7 {
    width: 58.33%; }
  .grid .row .col-8 {
    width: 66.66%; }
  .grid .row .col-9 {
    width: 75%; }
  .grid .row .col-10 {
    width: 83.33%; }
  .grid .row .col-11 {
    width: 91.66%; }
  .grid .row .col-12 {
    width: 100%; }

.break {
  -webkit-column-break-before: column;
     page-break-before: column;
          break-before: column;
  min-width: 20em;
  margin: auto;
  display: block; }

.hero-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 640px;
  max-height: 100vh;
  background-image: url("../images/m1.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 40px; }
  @media (max-width: 415px) {
    .hero-wrapper {
      height: 590px; } }
  @media (max-width: 374px) {
    .hero-wrapper {
      padding: 20px; } }
  .hero-wrapper .hero-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background: #5A29DE;
    opacity: .2; }
  .hero-wrapper h1 {
    position: relative;
    z-index: 5;
    margin: 0;
    color: #FFFFFF;
    font-family: Trirong;
    font-weight: 700;
    font-size: 3.75em;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-top: 60px;
    text-align: center;
    line-height: 1.5em; }
    @media (max-width: 870px) {
      .hero-wrapper h1 {
        font-size: 3.125em; } }
    @media (max-width: 440px) {
      .hero-wrapper h1 {
        font-size: 2.8em; } }
    @media (max-width: 406px) {
      .hero-wrapper h1 {
        font-size: 2.5em; } }
    @media (max-width: 374px) {
      .hero-wrapper h1 {
        font-size: 2.2em; } }
  .hero-wrapper .button-wrapper {
    position: relative;
    z-index: 5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 40px; }
    .hero-wrapper .button-wrapper a.cta-button {
      color: white;
      font-size: 1em;
      letter-spacing: 1px;
      text-align: center;
      width: 145px;
      padding: 10px 0;
      border-radius: 3px; }
      @media (max-width: 440px) {
        .hero-wrapper .button-wrapper a.cta-button {
          width: 135px; } }
    .hero-wrapper .button-wrapper .cta-shop {
      background: #42DDA1;
      border: 1px solid #42DDA1;
      margin-right: 10px; }
    .hero-wrapper .button-wrapper .cta-newsletter {
      background: none;
      border: 1px solid #42DDA1;
      margin-left: 10px; }

.shopping-section-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 800px;
  background: #FFFFFF;
  padding: 100px 20px 40px 20px;
  margin: auto; }
  .shopping-section-wrapper .shopping-item {
    position: relative;
    display: block;
    height: 460px;
    width: 350px;
    margin: auto;
    margin-bottom: 60px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    overflow: hidden; }
    .shopping-section-wrapper .shopping-item .shopping-item-image {
      position: relative;
      height: 400px; }
      .shopping-section-wrapper .shopping-item .shopping-item-image .shopping-item-image-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: #DED729;
        opacity: 0.15; }
    .shopping-section-wrapper .shopping-item .item1, .shopping-section-wrapper .shopping-item .item2, .shopping-section-wrapper .shopping-item .item3, .shopping-section-wrapper .shopping-item .item4 {
      background-image: url("../images/m2.jpg");
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat; }
    .shopping-section-wrapper .shopping-item .item2 {
      background-image: url("../images/m3.jpg"); }
    .shopping-section-wrapper .shopping-item .item3 {
      background-image: url("../images/f1.jpg"); }
    .shopping-section-wrapper .shopping-item .item4 {
      background-image: url("../images/f2.jpg"); }
    .shopping-section-wrapper .shopping-item .shopping-item-information {
      position: relative;
      display: block;
      width: 100%;
      height: 60px;
      border: 2px solid #DED729;
      border-top: 0; }

.nav-wrapper {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 50px 0px 50px; }
  @media (max-width: 450px) {
    .nav-wrapper {
      padding: 30px 30px 0px 30px; } }
  .nav-wrapper .nav-logo, .nav-wrapper .nav-cart {
    height: 40px;
    width: auto; }
